@{
    ViewBag.Title = "Your daily todo manager";
}

<h2>You can manage your daily todo list</h2>

<div>@Html.ActionLink("Try it!", "Index", "Task")</div>

<a href="../Task"><img class="todoimg" src="../../Content/images/todomainimg.png" alt="todo" /></a>
