<div class="todo">
    @Html.Partial("AddNewTask", new DailyToDoManager.Entities.Task())
    <div class="alltodo">
    </div>
</div>
@if (false)
{
    <script src="../../Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>
}
<script type="text/javascript" src="../../Statics/js/todo.js"></script>